*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

header {
    height: 250px;
    text-align: center;
    animation-name: intro;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#menu {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: beige;
}

#accordion {
    float: right;
}

nav {
    padding: 30px;
    border-radius: 20px;
    display: none; 
}

nav a {
    color: black;
    margin: 10px;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 20px;
    background-color: lightblue;
}

p {
    font-size: 20px;
}

h1, h2, h3, p{
    padding: 20px;
}

.container {
    margin: 15px 0;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 100%;
    margin: 0 15px;
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

.group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.group textarea {
    flex: 1;
}

label {
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
}

.alert{
    font-size: 15px;
}

.red-border {
    border: 1px solid red;
}

button {
    padding: 10px;
    margin-bottom: 5px;
    background: lightblue;
    color: black;
    border: 0;
    transition: background-color 1.5s, border-top 0.5s, border-bottom 0.5s;
    transition-timing-function: linear;
}

button:hover {
    cursor: pointer;
    background-color: white;
    border-top: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
}
  
  
@keyframes intro {
    from  {
        font-size: 50%;
        color: white;
        background-color: blue;
        transform: translateY(-200px);
    }

    30% {
        transform: translateY(0);
    }

    to {
        font-size: 100%;
        color: black;
        background-color: cyan;
    }
  }

@media (min-width: 768px) {
    header{
        padding-top: 80px;
        border-radius: 0 0 100% 100% ;
    }

    #accordion {
        display: none;
    }

    nav {
        float: right;
        padding: 0px;
        display: block !important;
    }

    nav a {
        display: inline-block;
        border-bottom: 3px solid black;
        transition: border-bottom 0.5s ease-out;
    }

    nav a:hover {
        border-bottom: 10px solid black;
    }

    .container {
        margin: 0 auto;
        max-width: 738px;
    }

    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 40px;
    }

    #advertisement {
        animation-name: infinite;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        animation-fill-mode: backwards;
    }

    form {
        flex-direction: row;
    }

    .group {
        margin: 30px;
    }
    

    @keyframes infinite {
        0% {
            background-color: cyan;
            border-radius: 5px;
            transform: scale(0.95);
        }
    
        50% {
            background-color: rgb(185, 185, 255);
            border-radius: 10px;
            transform: scale(1);
        }
    
        100% {
            background-color: cyan;
            border-radius: 5px;
            transform: scale(0.95);
        }
      }
}

@media (min-width: 1000px) {
    .container {
        max-width: 970px;
    }
}