*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

header {
    padding-top: 150px;
    text-align: center;
    background-color: #001B36;
    background-image: url("../img/background.jpg");
    background-size: cover;
    animation-name: intro;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#menu {
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: #001B36;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

#menu img {
    margin: 10px;
    max-height: 50px;
}

#accordion {
    float: right;
}

nav {
    margin: 0px 10px;
    padding: 30px;
    border-radius: 20px;
    display: none; 
}

nav a {
    color: black;
    padding: 16px;
    margin: 10px 0px;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 20px;
    background-color: lightblue;
}

p {
    font-size: 20px;
}

h1, h2, h3, p{
    padding: 20px;
}

.container {
    margin: 15px 0;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 100%;
    margin: 0 15px;
}

#advertisement, .advertisement {
    display: none;
}

#background {
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001B36;
}

#success, #calendar {
    display: none;
    opacity: 0;
    font-size: 36px;
    color: greenyellow;
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

.group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.group textarea {
    flex: 1;
}

label {
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
}

.alert{
    font-size: 15px;
}

.red-border {
    border: 1px solid red;
}

button {
    padding: 10px;
    margin-bottom: 5px;
    background: lightblue;
    color: black;
    border: 0;
    transition: background-color 1.5s, border-top 0.5s, border-bottom 0.5s;
    transition-timing-function: linear;
}

button:hover {
    cursor: pointer;
    background-color: white;
    border-top: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
}
  
footer {
    width: 100%;
    padding-top: 10px; 
    color: white;
    background-color: #001B36;
    overflow-wrap: break-word;
}

footer a {
    color: white;
}

footer a:hover {
    color: lightblue;
}
  
@keyframes intro {
    from  {
        font-size: 50%;
        color: black;
        height: 100px;
        transform: translateY(-200px);
    }

    30% {
        transform: translateY(0);
    }

    to {
        font-size: 100%;
        color: white;
        height: 300px;
    }
  }

@media (min-width: 768px) {

    #menu img {
        transition: transform 1s ease-out; 
    }

    #menu img:hover {
        transform: rotate(360deg);
    }

    header{
        border-radius: 0 0 100% 100% ;
    }

    #accordion {
        display: none;
    }

    nav {
        float: right;
        padding: 0px;
        display: block !important;
    }

    nav a {
        display: inline-block;
        transition: padding 0.5s ease-out;
    }

    nav a:hover {
        padding: 10px;
    }

    .container {
        margin: 15px auto;
        max-width: 738px;
    }

    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 40px;
    } 

    .advertisement {
        display: inline;
    }

    #advertisement {
        display: block;
    }

    #advertisement h1 {
        color: white;
        margin-bottom: 10px;
        animation-name: infinite;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        animation-fill-mode: backwards;
    }

    form {
        flex-direction: row;
    }

    .group {
        margin: 30px;
    }
    
    footer {
        display: flex;
        justify-content: space-between;
    }
    
    @keyframes infinite {
        0% {
            background-color: #028FC7;
            border-radius: 5px;
            transform: scale(0.95);
        }
    
        50% {
            background-color: #001B36;
            border-radius: 10px;
            transform: scale(1);
        }
    
        100% {
            background-color: #028FC7;
            border-radius: 5px;
            transform: scale(0.95);
        }
      }
}

@media (min-width: 1000px) {
    .container {
        max-width: 970px;
    }
}